html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --primary:#4A90E2;
  --secondary: #C4C4C4;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
